# Warning - unlike all the other players, mpv and so on,
# the player yt-dlp may not work as distributed.
# If it does not fetch files from youtube.com, git the latest code from
# https://github.com/yt-dlp/yt-dlp
# If that works you may need to uninstall the distributed version
# and install this one.

# It is possible to run youtube manually.
# You see a youtube link, call up "yt-dlp -x --audio-format mp3",
# obtain the mp3 file, and play it using all the convenient features of the mp3 player.
# That isn't really a plugin though.
# You can build a plugin by riding on the coat tails of mpv.
# mpv calls yt-dlp when it is asked to play a youtube link.
# So it just … works.
# There is no suffix or protocol to key on; we need the urlmatch feature here.

plugin {
desc = youtube
urlmatch = youtube.com/watch?|youtube.com/embed/|godtube.com/watch
program = mpv %i
}
